$palatino-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, serif;
$georgia-family: Georgia, Cambria, "Times New Roman", Times, serif;
$arial-family: Arial, Helvetica Neue, Helvetica, sans-serif;